<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <form action="loan/login" method="post">
    <h1>留言板</h1>
    <div>
         用户：<input type="text" name="username">
    </div>
    <div>
        密码：<input type="password" name="password">
    </div>
    <div>
        <button>登录</button>
        <button type="reset">重置</button>
    </div>
    </form>
    <p><a href="/message/public/index/regist">没有账号？点击注册</a> </p>
</center>
</body>
</html>